.imga1
{
    width: 652px;
    height: 300px;
    box-shadow: 2px 8px 20px rgb(0, 0, 0);
}
.imga2
{
    width: 658px;
    height: 300px;
    box-shadow: 2px 8px 20px rgb(0, 0, 0);
}
h1{
   color: darkviolet;
}
.imga3
{
    width: 1320px;
    height: 400px;
    box-shadow: 2px 8px 20px rgb(0, 0, 0);
}